    <h3>Add employee</h3>
    <form #userlogin="ngForm" (ngSubmit)="validate(userlogin.value)">
    <table>
      <tr>
        <td>Id:</td>
        <td><input type="text" name="id" ngModel></td>
      </tr>
      <tr>
          <td>Name:</td> 
          <td><input type="text" name="name" id="name" ngModel></td>
      </tr>
      <tr>
          <td>Salary:</td>
          <td><input type="text" name="salary" id="salary" ngModel></td>
      </tr>
      <tr>
          <td>Department:</td>
          <td><input type="text" name="department" id="department" ngModel></td>
      </tr>
    </table><br>
    <button type="submit">Add Employee</button>
  </form>
  <br>
  <table class="table table-bordered" border="2" >
    <tr>
    <th>Id:</th>
    <th>Name</th>
    <th>Salary:</th>
    <th>Department:</th>
  <th colspan="2">Action</th>
</tr>
    <tr *ngFor="let user of users; let i=index">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.department}}</td>
          <td><input type="button" value="delete" class="btn btn-danger" (click)="delete(i)"></td>
          <td><input type="button" value="update" class="btn btn-primary" (click)="update(user)"></td>
    </tr>
  </table>
  <br>
  <h2>Update Employee</h2>
  <div style="margin: auto">
      <table>
        <tr>
          <td>Id:</td>
          <td><input type="text" name="id" id="id1" [(ngModel)]="id1" ng-required='true'></td>
        </tr>
        <tr>
            <td>Name:</td> 
            <td><input type="text" name="name" id="name1" [(ngModel)]="name1" required></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" name="salary" id="salary1" [(ngModel)]="salary1" required></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td><input type="text" name="department" id="department1" [(ngModel)]="department1" required></td>
        </tr>
        <tr>
            <input type="button" class="btn btn-warning" value="submit" (click)="updated()">
          </tr>
      </table>
    </div>